:root {
    --w: calc(70vw / 5);
    --h: calc(80vh / 6);
}
* {
    transition: all 0.5s;
}
body{
    padding: 0;
    margin: 0;
    -webkit-perspective: 1000;
    background-color: #000117; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;  
}
div{
    display: inline-block;
}
.area-tarjeta,.tarjeta,.cara {
    cursor: pointer;
    width: var(--w);
    min-width: 100px;
    height: var(--h);
    margin: 4px;
}
.tarjeta {
    position: relative;
    transform-style: preserve-3d;
    animation: iniciar 5s;
}

.cara {
    position: absolute;
    backface-visibility: hidden;
    box-shadow: inset 0 0 0 5px white;
    border-radius: 20px;
    font-size: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trasera {
    background: linear-gradient(#ff6f00, rgb(255, 156, 42));
    transform: rotateY(180deg);
}
.superior {
    background: linear-gradient(#0059ff, rgb(18, 34, 162));
}
.nuevo-juego {
    width: 150px;
    cursor: pointer;
    background: linear-gradient(#ff9900, darkred);
    border-radius: 50px;
    border: white 5px solid;
}
p{
    font-size: 20px;
    color: white;
}

@keyframes iniciar {
    20%,90%{
        transform: rotateY(180deg);
    }
    0%,100%{
        transform: rotateY(0deg);
    }
}
h2,h3{
    color: white;
    font-size: 20px;
    
}